---
import type { CollectionEntry } from "astro:content";
import HeaderCTA from "../components/HeaderCTA.vue";
import Navbar from "../components/layout/navbar.vue";
import TheFooter from "../components/layout/TheFooter.vue";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Good Time Travel South Blog</title>
    <script is:inline>
      (function () {
        const theme =
          localStorage.getItem("theme") ||
          (window.matchMedia &&
          window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light");
        document.documentElement.classList.toggle("dark", theme === "dark");
        localStorage.setItem("theme", theme);
      })();
    </script>
    <style>
      /* Ensure icons are invisible until Vue has initialized */
      .initially-hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="transition duration-500 dark:bg-gray-950 dark:text-slate-300">
      <HeaderCTA />
      <Navbar client:load />
      <main class="flex-grow">
        <article class="prose lg:prose-xl mx-auto px-4 py-6">
          <div class="hero-image mb-6">
            {
              heroImage && (
                <img
                  class="w-full h-auto rounded-lg shadow-md"
                  src={heroImage}
                  alt={title || "Hero Image"}
                />
              )
            }
          </div>
          <div class="space-y-4">
            <div class="text-sm text-gray-500 dark:text-gray-300">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="mt-1">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <slot />
          </div>
        </article>
      </main>
      <TheFooter />
    </div>
  </body>
</html>
